<h1>New Specialtly</h1>

<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("Save", "Specialties")" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <input type="submit" value="Send">
        </form>
    </div>
</div>
