@model Specialty

<h1>Edit Specialties</h1>

<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("Update", "Specialties")" method="get">
            <input type="text" name="id" asp-for="id" hidden>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" asp-for="Area">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>