
@model Contact
<h2> Let us a comment.. </h2>
<div class="row">
    <div class="col-md-6">

        <form asp-action="Save" method="post">
            @if (!string.IsNullOrEmpty(ViewBag.msg))
            {
                <h1>@ViewBag.msg</h1>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="contro-label"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Enter your name...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Enter your last name...">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">e-mail</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter your e-mail...">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Note"></label>
            <textarea asp-for="Note" type="text" id="" cols="40" rows="10" placeholder="Leave us a comment..."></textarea>
            <span asp-validation-for="Note" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


@Html.ValidationSummary()
@Html.Partial("/Views/Shared/_PopUpPartialView.cshtml")
